.main {
  padding: 0px;
  margin-top: 0px;
  height: 1200px;
}

.name{
	overflow: 				auto;
	background-image: 		none;
	position: 				fixed;
	padding: 				none;
	top: 					-40px;
	margin-top:				none;
	margin-left:			100PX;
	width: 					100%;
	z-index: 				-2;
}
.name p{
	margin-left: 		80px;
	float: 				left;
	display: 			inline-block;
	color: 				black;
	text-align: 		center;
	padding: 			none;
	text-decoration: 	none;
	font-size: 			40px;
	font-family: 		AR ESSENCE;
	letter-spacing: 	3px;
}	


.logo {
	position: 	fixed;
	left: 		25px;
}
.logo img:hover {
	animation: 					shake 0.5s;
	animation-iteration-count: 	1s;
}
@keyframes shake {
	0% { transform: translate(2px, 2px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -2px) rotate(1deg); }
	50% { transform: translate(-1px, 3px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(4px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(3px, 2px) rotate(0deg); }
	100% { transform: translate(2px, -2px) rotate(-1deg); }
}
.navbar {
	overflow: 			hidden;
	background-image: linear-gradient(#333,#10122A);
	position: 			fixed;
	top: 				0;
	margin-top:			50px;
	width: 				100%;
	z-index: 			-1;
}
.navbar a {
	float: 				left;
	display: 			block;
	color: 				#f2f2f2;
	text-align: 		center;
	padding: 			14px 16px;
	text-decoration: 	none;
	font-size: 			20px;
	font-family: 		Aharoni;
}
.navbar a:hover{
	background: #039FAC;
	color: white; 
}

.title {
	background-image: 	url(Images/side.png); 
	background-size: 	100%,100%;
	background-repeat: 	no-repeat;
	border-top: 		dashed;		
	border-bottom: 		dashed;
	border-color: 		white;
	border-width: 		5px;
	overflow: 			default;
	position: 			absolute;
	left: 				0px;
	top: 				125px;
	right:				20px;
	margin-top:			0px;
	width: 				100%;
	height:				50px;
	z-index: 			-4;
	position: fixed;
}
.title p{
	font-family:	 	Arial Rounded MT Bold;
	font-size:			50px;
	bottom: 			0;
	float: 				left;
	color: 				white;
	text-align: 		left;
	padding-left: 	 	175px;
	text-decoration: 	none;
	letter-spacing: 	3px;
	text-shadow:  		0 0 100px #98E1F1;
	margin-top:			-5px;

}
.form textarea{
	display: block;
	border: none;
	width: 450px;
	background-color: #eaeaea;
	padding: 10px;
	text-align: left;
	font-size: 15px;
	border-radius: 5px;
   font-family: 		Arial;
}
.form {
	background-image: 	url(Images/side.png); 
	background-size: 	100%,100%;
	background-repeat: 	no-repeat;
	background-color: LightSlateGrey;
	border-style: 		solid;
	border-color: 		WhiteSmoke;
	border-width: 		5px;
	overflow: 			default;
	position: 			absolute;
	left: 				3px;
	top: 				200px;
	right:				20px;
	margin-top:			0px;
	margin-bottom: 		50px;
	width: 				500px;
	height:				800px;
	z-index: 			-5;
}
.form fieldset{
	color: 				white;
}

.form input{
	color: black;
	font-family: 		Arial;
	font-size: 15px;
}

