body{
  font-family: Georgia;
  background-color: indigo;
}
form{
	background-color: thistle;
	width: 550px;
	padding: 40px 10px 20px 10px;
	margin: 0 auto;
	border-radius: 4px;
       text-align: center;
}
label{
  color: Indigo;
 
}
#LabExer01 fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
#LabExer01 ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

textarea{
	display: block;
	border: none;
	margin: 20px auto;
	width: 250px;
	background-color: #eaeaea;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 6px;
}


input{
	display: block;
	border: none;
	margin: 20px auto;
	width: 250px;
	background-color: #eaeaea;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 6px;
}



